<br><br><br><br><br>
 
<h1 style="text-align: center "><%= @challenge.name %> - <%= challenge_countdown %> </h1>
<br><br>
<div style="text-align: center; width:100%; float:left;">
  <div style="width:250px;margin: 0 auto;padding-left: 35px;">
    <div style="text-align: center;">
       <button class="btn btn-primary" style="height: 70px; font-size: 50px;"><%= @challenge.target %></button>
      <p>Challenge Total</p>
    </div>
  </div>

    <br><br>
    
    <div class='span2'></div>
    <div style="margin: 0px auto;">
      <div class='span2'style="text-align: center;">
        <button class="btn btn-info" style="height: 70px; font-size:50px;"><%= @challenge.accumulated_total %></button>
        <p>Team Total</p>
      </div>

      <div class='span2' style="text-align: center;">
        <button class="btn btn-info" style="height: 70px; font-size: 50px;"><%= @challenge.target_needed_to_date %></button>
        <p>Needed</p>
      </div>
       
      <div class='span2' style="text-align: center;">
        <button class="<%= style_deficit %>" style="height: 70px; font-size: 50px;"><%= @challenge.deficit %></button>
        <p>Deficit</p>
      </div>
  </div>
</div>