<div style="text-align: center">
  <div class="row">
    <h1 class="span9">
      <div class="hidden-phone"><%= @challenge.name %><br>
        <small><%= @challenge.start_date %> - <%= @challenge.end_date %></small>
      </div>
      <%= challenge_countdown %>
    </h1>
  </div>
  <div class="row">
    <div class="span3 offset3">
      <button class="btn <%= style_challenge %> btn-block" style="height: 70px; font-size: 50px;"><%= @challenge.target %></button>
      <p>Challenge Total</p>
    </div>
  </div>

  <div class="row" style="">
    <div class="span3">
      <button class="btn btn-info btn-block" style="height: 70px; font-size:50px;"><%= @challenge.accumulated_total %></button>
      <p>Team Total</p>
    </div>

    <div class="span3">
      <button class="btn btn-info btn-block" style="height: 70px; font-size: 50px;"><%= @challenge.target_needed_to_date %></button>
      <p>Total needed to date</p>
    </div>

    <div class="span3">
      <button class="btn <%= style_deficit %> btn-block" style="height: 70px; font-size: 50px;"><%= @challenge.deficit %></button>
      <p>Deficit</p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="span5 offset2">
      <strong>Individual Totals</strong>
      <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>kms</th>
              <th>m</th>
              <th>#</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <% @challenge.users.each do |user| %>
            <tr>
              <td><%= link_to_if current_user == user, user.preferred_name, user_activities_path(user) %>
                <%= image_tag 'yellow_jersey.png'\
                if user == @challenge.user_with_highest_kilometers %>
                <%= image_tag 'spotted_jersey.png'\
                if user == @challenge.user_with_highest_ascent %>
                <%= image_tag 'green_jersey.png'\
                if user == @challenge.user_with_highest_achievements %></td>
              <td><%= user.sum_of_distance_for(@challenge) %></td>
              <td><%= user.sum_of_ascent_for(@challenge) %></td>
              <td><%= user.sum_of_achievements_for(@challenge) %></td>
              <td><%= user.percent_completed %></td>
            </tr>
          </tbody>
        <%end%>
      </table>
    </div>
  </div>

  <br><br><br>

<!--Modal windows code-->
<!-- <div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Enter Activity</h3>
  </div>
  <div class="modal-body">
    <p>How many kilometers today?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<%= link_to 'Launch Modal', '#', class: 'btn', data: {
  toggle: 'modal',
  target: '#myModal'
} %> -->

<!--Hover code-->
<!-- <%= link_to 'Hover Popover', '', class: 'btn', data: {
  toggle: 'popover',
  title: 'This is the title',
  content: 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',
  placement: 'bottom'
} %> -->

<!--Tool Tips code
<br />
<div class="row" style="padding-top: 20px">
  <p class="well span5 offset2">Fusce dapibus, <span style="border-bottom:1px dashed #ff0066; cursor:help;" rel="tooltip" title="Tooltip!! Hooray!">tellus</span> ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod.</p>
</div>
 -->
