<%= form_for([@user, @activity]) do |f| %>
  <%=  render "shared/errors", object: @activity %>
  <fieldset>
    <div class="row">
      <div class="span3 required">
        <%= f.label :date %>
        <%= f.text_field :date, value: DateTime.now.strftime("%Y-%m-%d") %>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <small>(date format: YYYY-MM-DD)</small>
      </div>
    </div>
    <div class="row">
      <div class="span3 required">
        <%= f.label :distance %>
        <%= f.text_field :distance, autofocus: true%>
      </div>
    </div>
    <div class="row">
      <div class="span3 required">
        <%= f.label :ascent %>
        <%= f.text_field :ascent%>
      </div>
    </div>
    <div class="row">
      <div class="span3 required">
        <%= f.label :achievements %>
        <%= f.text_field :achievements%>
      </div>
    </div>
    <div class="row">
      <div class="span3 required">
        <%= f.submit %>
        <%= link_to "Cancel", user_activities_path(@user), class: 'button' %>
      </div>
    </div>
  </fieldset>
<% end %>
