<h1><%= @user.preferred_name %>'s activities</h1>
<small>
  Commitment <%= @user.commitment %><br>
  Current total <%= @user.total_distance_for @challenge.period %><br>
  Needed <%= @user.total_kilometers_needed_to_date %><br>
</small><br>
<%= link_to( image_tag('add.png'), new_user_activity_path(@user)) %><br><br>
<% if @activities.count == 0 %>
<br><br>
There are currently no activities!
<% else %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>kms</th>
      <th>m</th>
      <th>#</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.order('date desc').each do |activity| %>
      <tr>
        <td><%= activity.date %></td>
        <td><%= activity.distance %></td>
        <td><%= activity.ascent %></td>
        <td><%= activity.achievements %></td>
        <td><%= link_to( image_tag('modify.png'), edit_user_activity_path(@user, activity)) %>
            <%= link_to( image_tag('delete.png'), user_activity_path(@user, activity),
                class: 'button',
                method: :delete, data: { confirm: 'Are you sure?' }) %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<% end %>
