<h1>New Activity</h1>
<%= form_for([@user, @activity]) do |f| %>
<%=  render "shared/errors", object: @movie %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :date %>
        <%= f.text_field :date, autofocus: true %>
      </li>
      <li class="required">
        <%= f.label :value %>
        <%= f.text_field :value%>
      </li>
    </ol>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", movies_path, class: 'button' %>
    </p>
  </fieldset>
<% end %>
